@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "Gotham";
    src: url("public/fonts/Gotham-Light.otf") format("otf");
  }
}
@layer base {
    html {
      font-family: Gotham, system-ui, sans-serif;
    }
  }

@import "swiper/swiper.min.css";
@import "swiper/modules/effect-fade/effect-fade.min.css";
@import "swiper/modules/pagination/pagination.min.css";
@import "swiper/modules/autoplay/autoplay.min.css";

@import "custom.css";
@import "home-slider.css";

@import "contact-form.css";
