#billing_first_name,
#billing_last_name,
#billing_address_1,
#billing_postcode,
#billing_city,
#billing_email,
#username,
#password,
#email,
#user_login,
#reg_email,
#account_first_name,
#account_last_name,
#account_display_name,
#account_email,
#password_current,
#password_1,
#password_2,
#billing_company,
#billing_address_2,
#billing_phone,
#shipping_first_name,
#shipping_last_name,
#shipping_company,
#shipping_address_1,
#shipping_address_2,
#shipping_postcode,
#shipping_city,
#reg_billing_first_name,
#reg_billing_last_name,
#reg_billing_email,
#reg_account_password,
#reg_account_password-2,
#reg_billing_country,
#account_username,
#account_password_field,
#reg_password,
#reg_password-2,
#reg_country,
#billing_country_field {
  @apply text-base outline-0 focus-visible:outline-0 border-b w-full border-black py-3 bg-white-bg;
}

#account_password,
#billing_country,
#search-field {
  @apply text-base outline-0 focus-visible:outline-0 w-full bg-white-bg uppercase;
}

select#billing_country {
  @apply ml-[-5px] uppercase;
}

.woocommerce-account-fields {
  @apply pt-4 text-md uppercase;
}

#billing_first_name:focus-visible,
#billing_last_name:focus-visible,
#billing_postcode:focus-visible,
#billing_city:focus-visible,
#billing_email:focus-visible,
#billing_address_1:focus-visible,
#username:focus-visible,
#password:focus-visible,
#email:focus-visible,
#user_login:focus-visible,
#reg_email:focus-visible,
#account_first_name:focus-visible,
#account_last_name:focus-visible,
#account_display_name:focus-visible,
#account_email:focus-visible,
#password_current:focus-visible,
#password_1:focus-visible,
#password_2:focus-visible,
#billing_company:focus-visible,
#billing_address_2:focus-visible,
#billing_phone:focus-visible,
#shipping_first_name:focus-visible,
#shipping_last_name:focus-visible,
#shipping_company:focus-visible,
#shipping_address_1:focus-visible,
#shipping_address_2:focus-visible,
#shipping_postcode:focus-visible,
#shipping_city:focus-visible,
#reg_billing_first_name:focus-visible,
#reg_billing_last_name:focus-visible,
#reg_billing_email:focus-visible,
#reg_account_password:focus-visible,
#reg_account_password-2:focus-visible,
#reg_billing_country:focus-visible,
#account_username:focus-visible,
#account_password_field:focus-visible,
#account_password:focus-visible,
#reg_password:focus-visible,
#reg_password-2:focus-visible,
#reg_country:focus-visible,
#billing_country_field:focus-visible,
#search-field {
  outline: unset;
}

#username,
#password,
#email {
  @apply w-full;
}

#billing_first_name_field,
#billing_last_name_field,
#billing_postcode_field,
#billing_city_field,
#billing_email_field,
#billing_company_field,
#billing_country_field,
#billing_phone_field,
#shipping_last_name_field,
#shipping_company_field,
#shipping_country_field,
#shipping_postcode_field,
#shipping_address_2,
#shipping_postcode_field,
#shipping_city_field {
  @apply pt-2;
}

.woocommerce-form.woocommerce-form-login.login {
  @apply text-base px-2.5 lg:px-7.5;
}

.woocommerce-form-login__submit {
  @apply text-base uppercase flex items-center justify-center border border-black px-4 py-1 w-fit mt-4 text-black shadow-sm;
}

.dashboardBtn {
  @apply text-base uppercase flex items-center justify-center border border-black px-4 py-1 w-fit mt-4 text-black shadow-sm;
}

.dashboardBtnBig {
  @apply text-base uppercase flex items-center justify-center border border-black px-4 py-1 w-fit mt-4 text-black shadow-sm;
}

.dashboardOrderBtn {
  @apply text-base uppercase flex items-center justify-center border border-black px-4 py-1 w-20 text-black shadow-sm;
}

#dashboard-edit-account .woocommerce-message {
  @apply absolute;
}

.lost_password,
.woocommerce-form-login__rememberme {
  @apply text-base uppercase mt-4;
}

.select2-container--default .select2-selection--single {
  @apply text-base rounded-none uppercase mt-1 border-0 border-grey bg-white-bg;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  @apply text-base pl-0;
}

#customer_details#billing_address_1_field {
  display: none;
}

.cart-empty.woocommerce-info {
  @apply justify-center flex text-center uppercase mt-8 md:mt-28;
}

.woocommerce-error {
  @apply text-base uppercase;
}

#thank-you {
  @apply mt-12 sm:mt-28 text-base;
}

#thank-you
  .woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
  @apply mb-4;
}

#thank-you .woocommerce-order-details__title {
  @apply my-4;
}
#thank-you
  .woocommerce-table.woocommerce-table--order-details.shop_table.order_details {
  @apply text-left;
}
#thank-you
  .woocommerce-column.woocommerce-column--1.woocommerce-column--billing-address.col-1,
#thank-you
  .woocommerce-column.woocommerce-column--2.woocommerce-column--shipping-address.col-2 {
  @apply mt-4;
}

.woocommerce-message {
  @apply invisible;
}

.hermanBtn {
  @apply text-base uppercase flex items-center justify-center border border-black px-4 py-1 w-fit mt-4 text-black shadow-sm;
}

.wc_payment_methods.payment_methods.methods {
  @apply mt-8;
}

.mollie-gateway-icon {
  @apply h-12 !important;
}

.payment_box.payment_method_mollie_wc_gateway_ideal > p:nth-child(1) {
  @apply hidden;
}

.payment_method_mollie_wc_gateway_ideal select {
  @apply text-base rounded-none uppercase my-4 h-8 border-0 border-b w-full border-grey bg-white-bg;
}

.woocommerce-form.woocommerce-form-login.login {
  @apply w-full md:w-1/2 mt-4;
}

.page-checkout .woocommerce-error {
  @apply text-xs font-normal;
}

.page-checkout strong {
  @apply font-normal;
}

input {
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}

.closeMenu {
  @apply text-lg;
}
