.wpcf7-spinner {
  display: none !important;
}

.wpcf7-email {
  @apply outline-0;
}

.wpcf7 {
  @apply border-b border-black pb-3;
}

.wpcf7-submit {
  cursor: pointer;
}

.wpcf7-validates-as-email:focus-visible {
  outline: unset;
}

form.invalid .wpcf7-response-output {
  border: none;
  font-family: 'Gotham', 'sans-serif';
  text-transform: uppercase;
}

.wpcf7-not-valid-tip {
  font-family: 'Gotham', 'sans-serif';
  text-transform: uppercase;
}