.wpcf7-spinner {
  display: none !important;
}

.wpcf7-email {
  @apply text-base outline-0;
}

.wpcf7 {
  @apply border-b border-grey pb-3;
}

.wpcf7-text {
  @apply text-base border-b w-full border-grey py-3;
}

.wpcf7-textarea {
  @apply text-base w-9/12 py-3;
  resize: none;
}

.wpcf7-submit {
  @apply text-base;
  cursor: pointer;
}
