.wpcf7-spinner {
  display: none !important;
}

.wpcf7-email {
  @apply text-base outline-0;
}

.wpcf7 {
  @apply border-b border-grey pb-3;
}

.wpcf7-text {
  @apply text-base border-b w-full border-grey py-3;
}

.wpcf7-textarea {
  @apply text-base w-9/12 py-3 focus-visible:outline-0 resize-none;
}

.wpcf7-submit {
  @apply text-base uppercase cursor-pointer;
}

.wpcf7-form-control-wrap {
  @apply focus-visible:outline-0;
}

.wpcf7-submit {
  cursor: pointer;
}

.wpcf7-validates-as-email:focus-visible {
  outline: unset;
}

form.invalid .wpcf7-response-output,
.wpcf7 form.sent .wpcf7-response-output {
  border: none;
  font-family: 'Gotham', 'sans-serif';
  text-transform: uppercase;
  padding: unset;
}

.wpcf7-not-valid-tip {
  font-family: 'Gotham', 'sans-serif';
  text-transform: uppercase;
}