.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: 100px;
  left: 10px;
}

.swiper-pagination-bullet {
  border-radius: 0;
  border: 1px solid white;
}

.swiper-pagination-bullet-active {
  background: white !important;
}
