.single_add_to_cart_button {
  @apply uppercase border border-black py-2 px-4;
}

.variations {
  @apply !w-full !text-base;
}

.variations tbody {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.variations tbody tr {
  @apply flex flex-row items-center border-b border-black divide-x-[1px] divide-black;
}
.variations > tbody > tr > th {
  @apply !basis-[20%] text-left border-r;
}
.variations .reset_variations {
  @apply !hidden;
}

.variations .woo-selected-variation-item-name {
  @apply !hidden;
}

.variations li {
  @apply !rounded-none !my-0;
}

.variations li span {
  @apply !text-base;
}

.woocommerce-variation-add-to-cart {
  @apply !mt-3;
}

.variable-item.button-variable-item {
  @apply !shadow-none;
}

.variable-item.button-variable-item.selected {
  @apply !shadow-none;
}

.woocommerce-variation-add-to-cart {
  @apply flex justify-end;
}

.variable-item-contents {
  @apply !flex !flex-row !items-center;
}

.variable-item-contents > span {
  @apply !mr-[3px];
}
.variable-item-contents:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  background-color: white;
}

.variable-item.button-variable-item.selected .variable-item-contents:after {
  background-color: black;
}

.variations .label {
  font-weight: 400;
}
